body {
  background-color: peachpuff;
}

.btn {
  outline: 3px black;
  background-color: cadetblue;
  margin: 5px;
}

#hiddenError {
  color: red;
  display:none;
}

#hiddenResult {
  display:none;
}